body {
    color: #000;
    font-size: 20px;
}
.container {
    max-width: 800px; /* PC端最大宽度限制为800px */
    margin: 0 auto; /* 水平居中 */
    }

nav {
    padding: 20px;             /* 设置内边距 */
}

.horizontal-list {
    display: flex;          /* 启用 Flexbox */
    justify-content: center; /* 水平居中对齐列表项 */
    list-style: none;       /* 移除默认列表符号 */
    padding: 0;            /* 移除默认内边距 */
    gap: 40px;             /* 可选：设置列表项间距 */
}

.horizontal-list li {
    margin: 0;             /* 移除默认外边距 */
}

.horizontal-list a {    
    text-decoration: none;  /* 移除链接下划线 */
    color: #313542;           /* 设置文字颜色 */
    font-size: 30px;      /* 可选：设置文字大小 */
    transition: color 0.3s; /* 平滑过渡效果 */
}
.horizontal-list a:hover {
    color: #666; /* 悬停颜色 */
}
.horizontal-list div {
    color: #000;           /* 设置文字颜色 */
    font-size: 30px;      /* 可选：设置文字大小 */
}

header {
    text-align: center; /* 居中对齐标题 */
}

a {
    color: #000;         /* 设置链接颜色 */
    text-decoration-color: #666; /* 设置链接下划线颜色 */
    outline: none; /* 移除链接的轮廓线 */
}
/* 为导航链接添加方框 */
main a {
    text-decoration: none;
    color: #313542;
    font-size: 20px;
    padding: 0.2px 2px;          /* 内边距 */
    background-color: #dadacf;  /* 浅色背景 */
    border-radius: 4px;         /* 圆角 */
    display: inline-block;      /* 确保 padding 生效 */
    background: linear-gradient(to bottom, #f5f5f5, #e5e5e5);   
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* 鼠标悬停效果 */
main a:hover {
    background-color: #e0e0e0;  /* 深一点的灰色 */
    border-color: #999;         /* 边框变深 */
}

address {
    gap: 25px;
    display: flex;       /* 启用 Flexbox */
    margin-bottom: 20px; /* 增加下边距，分隔与footer的线 */
}

footer {
    text-align: center; /* 居中对齐页脚内容 */
    padding: 20px;      /* 设置内边距 */
    border-top: 1px solid #ccc; /* 添加顶部边框 */
    color: #666
}

img {
    max-width: 100%; /* 图片不超出容器 */
    height: auto; /* 保持比例 */
}

/* Logo 样式 */
.logo a,
.logo a:hover,
.logo a:visited {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    color: inherit !important;
}

.logo img {
    display: block;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 auto;
}

.pre-mobile { display: none; }
.pre-pc { display: block; }